wsdl27.0.0/CommonServices_OPS_27.0.0.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- B2B revision = 27.0.0.5.128 -->
<definitions
    targetNamespace="eurocontrol/cfmu/b2b/CommonServices"
    name="CommonServices"
    xmlns:common="eurocontrol/cfmu/b2b/CommonServices"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://schemas.xmlsoap.org/wsdl/">

  <types>
    <xs:schema>
      <xs:import namespace="eurocontrol/cfmu/b2b/CommonServices" schemaLocation="CommonServices_27.0.0.xsd"/>
    </xs:schema>
  </types>

  <message name="SubscriptionPauseRequest">
    <part name="parameters" element="common:SubscriptionPauseRequest"/>
  </message>
  <message name="SubscriptionPauseReply">
    <part name="parameters" element="common:SubscriptionPauseReply"/>
  </message>
  <message name="SubscriptionResumeRequest">
    <part name="parameters" element="common:SubscriptionResumeRequest"/>
  </message>
  <message name="SubscriptionResumeReply">
    <part name="parameters" element="common:SubscriptionResumeReply"/>
  </message>
  <message name="SubscriptionDeletionRequest">
    <part name="parameters" element="common:SubscriptionDeletionRequest"/>
  </message>
  <message name="SubscriptionDeletionReply">
    <part name="parameters" element="common:SubscriptionDeletionReply"/>
  </message>
  <message name="SubscriptionListRequest">
    <part name="parameters" element="common:SubscriptionListRequest"/>
  </message>
  <message name="SubscriptionListReply">
    <part name="parameters" element="common:SubscriptionListReply"/>
  </message>
  <message name="SubscriptionHistoryRequest">
    <part name="parameters" element="common:SubscriptionHistoryRequest"/>
  </message>
  <message name="SubscriptionHistoryReply">
    <part name="parameters" element="common:SubscriptionHistoryReply"/>
  </message>
  <message name="SubscriptionSynchronisationRequest">
    <part name="parameters" element="common:SubscriptionSynchronisationRequest"/>
  </message>
  <message name="SubscriptionSynchronisationReply">
    <part name="parameters" element="common:SubscriptionSynchronisationReply"/>
  </message>
  <message name="SubscriptionSynchronisationAbortRequest">
    <part name="parameters" element="common:SubscriptionSynchronisationAbortRequest"/>
  </message>
  <message name="SubscriptionSynchronisationAbortReply">
    <part name="parameters" element="common:SubscriptionSynchronisationAbortReply"/>
  </message>

  <portType name="SubscriptionManagementService">
    <operation name="pauseSubscription">
      <input message="common:SubscriptionPauseRequest"/>
      <output message="common:SubscriptionPauseReply"/>
    </operation>
    <operation name="resumeSubscription">
      <input message="common:SubscriptionResumeRequest"/>
      <output message="common:SubscriptionResumeReply"/>
    </operation>
    <operation name="deleteSubscription">
      <input message="common:SubscriptionDeletionRequest"/>
      <output message="common:SubscriptionDeletionReply"/>
    </operation>
    <operation name="listSubscriptions">
      <input message="common:SubscriptionListRequest"/>
      <output message="common:SubscriptionListReply"/>
    </operation>
    <operation name="subscriptionHistory">
      <input message="common:SubscriptionHistoryRequest"/>
      <output message="common:SubscriptionHistoryReply"/>
    </operation>
    <operation name="synchroniseSubscription">
      <input message="common:SubscriptionSynchronisationRequest"/>
      <output message="common:SubscriptionSynchronisationReply"/>
    </operation>
    <operation name="abortSubscriptionSynchronisation">
      <input message="common:SubscriptionSynchronisationAbortRequest"/>
      <output message="common:SubscriptionSynchronisationAbortReply"/>
    </operation>
  </portType>

  <binding name="SubscriptionManagementPortBinding" type="common:SubscriptionManagementService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="pauseSubscription">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="resumeSubscription">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteSubscription">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="listSubscriptions">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="subscriptionHistory">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="synchroniseSubscription">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="abortSubscriptionSynchronisation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <service name="SubscriptionManagementService">
    <port name="SubscriptionManagementPort" binding="common:SubscriptionManagementPortBinding">
      <soap:address location="https://www.b2b.nm.eurocontrol.int/B2B_OPS/gateway/spec/27.0.0"/>
    </port>
  </service>
  <message name="MessagePullRequest">
    <part name="parameters" element="common:MessagePullRequest"/>
  </message>
  <message name="MessagePullReply">
    <part name="parameters" element="common:MessagePullReply"/>
  </message>

  <portType name="MessagingService">
    <operation name="pullMessages">
      <input message="common:MessagePullRequest"/>
      <output message="common:MessagePullReply"/>
    </operation>
  </portType>

  <binding name="MessagingPortBinding" type="common:MessagingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="pullMessages">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <service name="MessagingService">
    <port name="MessagingPort" binding="common:MessagingPortBinding">
      <soap:address location="https://www.b2b.nm.eurocontrol.int/B2B_OPS/gateway/spec/27.0.0"/>
    </port>
  </service>

</definitions>
