wsdl27.0.0/fixm_v4.3_ffice_v1.1/schemas/applications/fficemessage/fficetemplates/trialrequest/flight/flightdata/FficeTRQ_FlightData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.fixm.aero/flight/4.3" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fx="http://www.fixm.aero/flight/4.3" xmlns:fb="http://www.fixm.aero/base/4.3" elementFormDefault="qualified" version="4.3.0">
	<xs:annotation>
		<xs:documentation>An FF-ICE Trial Request message FlightData template.

===========================================
Copyright (c) 2023, Members of the FIXM CCB
===========================================
All rights reserved.
Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:
  * Redistributions of source code must retain the above copyright notice, this list of conditions and the disclaimer.
  * Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the disclaimer in the documentation and/or other materials provided with the distribution.
  * Neither the names of the FIXM CCB members nor the names of their contributors may be used to endorse or promote products derived from this specification without specific prior written permission.

DISCLAIMER
THIS SPECIFICATION IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
==========================================
Editorial note: this license is an instance of the BSD license template as provided by the Open Source Initiative:
http://www.opensource.org/licenses/bsd-license.php
The authoritative reference for FIXM is www.FIXM.aero.
Details on the FIXM CCB and a list of its members is available on request from FIXM_Secretariat@lists.eurocontrol.int</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.fixm.aero/base/4.3" schemaLocation="../../base/FficeTRQ_Base.xsd"/>
	<xs:include schemaLocation="../flightroutetrajectory/FficeTRQ_RouteTrajectory.xsd"/>
	<xs:include schemaLocation="../aircraft/FficeTRQ_Aircraft.xsd"/>
	<xs:include schemaLocation="../enroute/FficeTRQ_EnRoute.xsd"/>
	<xs:include schemaLocation="../departure/FficeTRQ_Departure.xsd"/>
	<xs:include schemaLocation="../arrival/FficeTRQ_Arrival.xsd"/>
	<xs:include schemaLocation="../../../../../../core/flight/flightdata/FlightData.xsd"/>
	<xs:include schemaLocation="../../../../../../core/flight/cargo/DangerousGoods.xsd"/>
	<xs:complexType name="FficeTRQ_FlightType">
		<xs:annotation>
			<xs:documentation>This is the central object of the FIXM Logical Model. It groups all information about the flight. [FIXM]</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="fx:FlightType">
				<xs:sequence>
					<xs:element name="aircraft" type="fx:FficeTRQ_AircraftType" minOccurs="0" maxOccurs="1" nillable="true">
						<xs:annotation>
							<xs:documentation>Aircraft enabling the flight. [FIXM]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="arrival" type="fx:FficeTRQ_ArrivalType" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The actual arrival of the flight. [FIXM]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dangerousGoods" type="fx:DangerousGoodsType" minOccurs="0" maxOccurs="2000" nillable="true">
						<xs:annotation>
							<xs:documentation>Contains information about any onboard dangerous goods.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="departure" type="fx:FficeTRQ_DepartureType" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Contains flight departure information</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="enRoute" type="fx:FficeTRQ_EnRouteType" minOccurs="0" maxOccurs="1" nillable="true">
						<xs:annotation>
							<xs:documentation>Groups the en route information about the flight.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="extension" type="fb:FlightExtensionType" minOccurs="0" maxOccurs="2000" nillable="true">
						<xs:annotation>
							<xs:documentation>An extension hook for attaching extension (non-core) classes.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="flightConstraint" type="fx:FlightConstraintType" minOccurs="0" maxOccurs="2000" nillable="true">
						<xs:annotation>
							<xs:documentation>A general flight constraint is intended to express a constraint on the flight that cannot be associated with a specific trajectory point, either because it is not relevant to only a specific point or because it is not possible to identify the point. [FF-ICE]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="flightIdentification" type="fx:FficeTRQ_FlightIdentificationType" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>A container of flight identifying data. [FIXM]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="flightPlanOriginator" type="fb:PersonOrOrganizationType" minOccurs="0" maxOccurs="1" nillable="true">
						<xs:annotation>
							<xs:documentation>Originator of the Flight Plan, can be FF-ICE Participant or a non-upgraded ASP. [adapted from ICAO Draft FF-ICE Implementation Guidance] Equivalent to ATS 18 ORGN/.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="flightRulesCategory" type="fx:FlightRulesCategoryType" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The category of flight rules with which the pilot intends to comply. [ICAO Doc 4444, Appendix 2, Item 8]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="flightType" type="fx:TypeOfFlightType" minOccurs="0" maxOccurs="1" nillable="true">
						<xs:annotation>
							<xs:documentation>Indication of the rule under which an air traffic controller provides categorical handling of a flight. [FIXM]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="operator" type="fb:AircraftOperatorType" minOccurs="0" maxOccurs="1" nillable="true">
						<xs:annotation>
							<xs:documentation>A person, organization or enterprise engaged in or offering to engage in an aircraft operation. [ICAO Annex 9]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="remarks" type="fb:CharacterStringType" minOccurs="0" maxOccurs="1" nillable="true">
						<xs:annotation>
							<xs:documentation>Any other plain-language remarks when required by the appropriate ATS authority or deemed necessary, by the pilot-in-command for the provision of air traffic services.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="routeTrajectoryGroup" type="fx:FficeTRQ_RouteTrajectoryGroupContainerType" minOccurs="0" maxOccurs="1" nillable="true">
						<xs:annotation>
							<xs:documentation>A logical grouping for all Route Trajectory Groups associated with the flight. [FIXM]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="specialHandling" type="fx:SpecialHandlingReasonCodeListType" minOccurs="0" maxOccurs="1" nillable="true">
						<xs:annotation>
							<xs:documentation>The reason for special handling of a flight by ATS. [adapted from ICAO Doc 4444, Appendix 2, ITEM 18 STS/]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="supplementaryInformation" type="fx:SupplementaryInformationType" minOccurs="0" maxOccurs="1" nillable="true">
						<xs:annotation>
							<xs:documentation>A container for supplementary information about the flight. This container does not capture the complete set of elements described in ICAO Doc 4444 ITEM 19 "Supplementary Information"; it only contains those elements that could not be modeled more logically in other FIXM structures. [FIXM]</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FficeTRQ_FlightIdentificationType">
		<xs:annotation>
			<xs:documentation>A container of flight identifying data. [FIXM]</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="fx:FlightIdentificationType">
				<xs:sequence>
					<xs:element name="aircraftIdentification" type="fb:AircraftIdentificationType" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>A group of letters, figures or a combination thereof which is either identical to, or the coded equivalent of, the aircraft call sign to be used in air-ground communications, and which is used to identify the aircraft in ground-ground air traffic services communications. [ICAO Doc 4444]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="extension" type="fb:FlightIdentificationExtensionType" minOccurs="0" maxOccurs="2000" nillable="true">
						<xs:annotation>
							<xs:documentation>An extension hook for attaching extension (non-core) classes.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:choice minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Helper class to create an embedded choice structure.</xs:documentation>
						</xs:annotation>
						<xs:element name="gufi" type="fb:GloballyUniqueFlightIdentifierType" minOccurs="1" maxOccurs="1" nillable="true">
							<xs:annotation>
								<xs:documentation>A single reference for FF-ICE information pertinent to a flight that is unique globally. [ICAO Doc 9965]
This is a reference that uniquely identifies a specific flight and is independent of any particular system. [FIXM]</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="gufiLegacy" type="fb:UniversallyUniqueIdentifierType" minOccurs="1" maxOccurs="1" nillable="true">
							<xs:annotation>
								<xs:documentation>The legacy version of the GUFI included in the Core 4.3.0 release solely for backwards compatibility reasons.  This field should only be used when the GUFI assigned to a flight is in Core 4.2.0 format but there is a need to publish information about the flight in Core 4.3.0 format.  In all other cases, the new version of the GUFI should be used.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
					<xs:element name="iataFlightDesignator" type="fx:FficeTRQ_IataFlightDesignatorType" minOccurs="0" maxOccurs="1" nillable="true">
						<xs:annotation>
							<xs:documentation>International Air Transport Association (IATA) flight designator.  [FIXM]</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FficeTRQ_IataFlightDesignatorType">
		<xs:annotation>
			<xs:documentation>International Air Transport Association (IATA) flight designator.  [FIXM]</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="fx:IataFlightDesignatorType">
				<xs:sequence>
					<xs:element name="extension" type="fb:IataFlightDesignatorExtensionType" minOccurs="0" maxOccurs="2000" nillable="true">
						<xs:annotation>
							<xs:documentation>An extension hook for attaching extension (non-core) classes.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="flightNumber" type="fx:FlightNumberType" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Up to four-digit commercial flight number.  [FIXM]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="iataOperatorCode" type="fx:IataOperatorCodeType" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>IATA identifier for the operator of the flight.  [FIXM]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="operationalSuffix" type="fx:OperationalSuffixType" minOccurs="0" maxOccurs="1" nillable="true">
						<xs:annotation>
							<xs:documentation>One character suffix used to further identify a flight. [FIXM]</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FficeTRQ_RouteTrajectoryGroupContainerType">
		<xs:annotation>
			<xs:documentation>A logical grouping for all Route Trajectory Groups associated with the flight. [FIXM]</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="fx:RouteTrajectoryGroupContainerType">
				<xs:sequence>
					<xs:element name="extension" type="fb:RouteTrajectoryGroupContainerExtensionType" minOccurs="0" maxOccurs="2000" nillable="true">
						<xs:annotation>
							<xs:documentation>An extension hook for attaching extension (non-core) classes.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="negotiating" type="fx:FficeTRQ_RouteTrajectoryGroupType" minOccurs="0" maxOccurs="1" nillable="true">
						<xs:annotation>
							<xs:documentation>The 4D Trajectory used during the collaboration between the FF-ICE enabled airspace user (eAU) and the FF-ICE enabled Air Traffic Management Service Providers (eASP) in order to agree on a 4D trajectory. This trajectory is intended to be transitory. 
This Route is used during collaboration between the FF-ICE enabled airspace user (eAU) and the FF-ICE enabled Air Traffic Management Service Providers (eASP) in order to agree on a route. This route field is intended to be transitory.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
